{% extends 'base.html' %}{% load static %} {% block meta_title %} {{ block.super }}{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/paintings.css' %}?after" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/index.js'%}?"></script>
{% endblock %} {% block content %}
<div class="container-content pt-box mt-5 mb-5">
  <div class="">
    <div class="pt-title">{{review.space_name}} 공간</div>
    <div class="pt-subtitle mb-2">{{review.reviewer.username}}</div>
  </div>
  <img src="{{review.thumbnail}}" />
</div>
{% endblock %}
