{% extends 'base.html' %}{% load static %} {% block meta_title %} {{ block.super }}{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/review.css' %}" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/review.js'%}?"></script>
{% endblock %} {% block content %}
<div rw class="container mt-5 mb-5">
  <div class="rw-title">개인고객 이용후기</div>
  <div class="rw-subtitle">실제 고객의 이용후기를 만나보세요</div>
  <div id="rw-box" class="rw-box">
    {% for item in reviews %}
    <div class="square col-3">
      <img id="rw-img" src="{{item.thumbnail}}" />
      <a href="/review/user/{{item.pk}}" class="content-desc">
        <div>
          <div>{{item.reviewer.username}}님의</div>
          <div>{{item.space_name}} 공간</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
