<div class="id-mainbanner id-banner1">
  <div class="container-section">
    <img src="https://og-data.s3.amazonaws.com/static/pages/img/service/home/artist_registry_bg.png" />
    <div>
      <div class="id-banner-right">
        <h2>클로즈갤러리에 작가 지원 하기</h2>
        <div>작가 공모 방법 안내</div>
      </div>

      <div>작가 공모<img width="20" height="15" src="https://og-data.s3.amazonaws.com/static/pages/img/service/home/sfb_theme_arrow.png" /></div>
    </div>
  </div>
</div>
<div class="id-mainbanner id-banner2">
  <div class="container-section">
    <div>
      <div>
        <h2>고급인테리어와 절세효과를 한번에</h2>
        <div>기업, 병원, 카페 등을 위한 그림렌탈</div>
      </div>
      <div>법인상담<img width="20" height="15" src="https://og-data.s3.amazonaws.com/static/pages/img/service/home/sfb_theme_arrow.png" /></div>
    </div>
    <img src="https://og-data.s3.amazonaws.com/static/pages/img/service/home/sfb_bg.png" />
  </div>
</div>
<div class="id-mainbanner id-banner3">
  <div class="container-section">
    <img src="https://og-data.s3.amazonaws.com/static/pages/img/service/home/theme_bg.png" />
    <div>
      <div class="id-banner-right">
        <h2>어떤 그림을 고를지 고민 된다면?</h2>
        <div>큐레이터가 추천하는 다양한 테마</div>
      </div>
      <div>테마별 추천<img width="20" height="15" src="https://og-data.s3.amazonaws.com/static/pages/img/service/home/sfb_theme_arrow.png" /></div>
    </div>
  </div>
</div>
