<div id="id-mainslide" class="carousel carousel-dark slide container" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for event in events %} {% if forloop.counter == 1 %}
    <button class="active id-mainslide-btn" type="button" data-bs-target="#id-mainslide" data-bs-slide-to="{{event.pk|add:"-1"}}" aria-current="true" aria-label="Slide {{event.pk}}"></button>
    {% else %}
    <button class="id-mainslide-btn" type="button" data-bs-target="#id-mainslide" data-bs-slide-to="{{event.pk|add:"-1"}}" aria-label="Slide {{event.pk}}"></button>
    {% endif %} {% endfor %}
  </div>
  <div class="carousel-inner">
  {% for event in events %} {% if forloop.counter == 1 %}
  <div class="carousel-item active">
    <img class="id-mainslide-img" src="{{event.thumbnail}}" class="d-block w-100"  />
    <div class="id-mainslide-caption carousel-caption d-none d-md-block">
      <div>
        <div class="id-caption-content">
          <div class="id-caption-chip id-caption-{{event.type|lower}}">{{event.type}}</div>
          <h2>{{event.title}}</h2>
          <p>{{event.comment}}</p>
        </div>
        <button>{{event.btn_comment}}</button>
      </div>
    </div>
  </div>
  {% else %}
  <div class="carousel-item">
    <img class="id-mainslide-img" src="{{event.thumbnail}}" class="d-block w-100"  />
    <div class="id-mainslide-caption carousel-caption d-none d-md-block">
      <div>
        <div class="id-caption-content">
          <div class="id-caption-chip id-caption-{{event.type|lower}}">{{event.type}}</div>
          <h2>{{event.title}}</h2>
          <p>{{event.comment}}</p>
        </div>
        <button>{{event.btn_comment}}</button>
      </div>
    </div>
  </div>
  {% endif %} {% endfor %}
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#id-mainslide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#id-mainslide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
