<div class="id-mainreview container-section">
  <div class="id-mainreview-tabs mb-5">
    <h4 id="id-mainreview-tab-user" class="id-mainreview-tab id-mainreview-tabs-active">이용후기</h4>
    <h4 id="id-mainreview-tab-celebrity" class="id-mainreview-tab">셀럽 인터뷰</h4>
  </div>
  <div id="id-mainreview-user" class="id-mainreview-content id-mainreview-user">
    <div class="id-mainreview-desc">그림으로 변화된 공간,</div>
    <div class="id-mainreview-desc">고객의 다양한 이용후기를 확인해보세요</div>
    <div class="id-mainreview-content-cards row mt-4">
      {% for item in Review_users %}
      <div class="square col-3">
        <img src="{{item.thumbnail}}" />
        <a href="/review/user/{{item.pk}}" class="content-desc">
          <div>
            <div>{{item.reviewer.username}}님의</div>
            <div>{{item.space_name}} 공간</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="id-mainreview-celebrity" class="id-mainreview-content id-mainreview-celebrity">
    <div class="id-mainreview-desc">오픈갤러리가 제안하는 아트스타일링,</div>
    <div class="id-mainreview-desc">작품으로 공간을 새롭게 완성해보세요</div>
  </div>
  <div class="m-5 d-flex justify-content-center">
    <a href="/review/user" class="id-mainreview-btn">전체 보기</a>
  </div>
</div>
