<div class="id-maintheme">
  <div class="container-section mt-5">
    <div class="id-maintheme-tags">
      <div class="id-maintheme-tag">여름</div>
      <div class="id-maintheme-subtag">#뙤약볕 #잠비 #파랑</div>
    </div>
    <div class="id-maintheme-header">
      <h4>한낮에 움직이는 고요</h4>
      <div class="id-maintheme-tools">
        <div class="id-maintheme-pagination"></div>
        <button class="id-maintheme-button-prev"><</button>
        <button class="id-maintheme-button-next">></button>
      </div>
    </div>
  </div>
  <div class="swiper-container id-maintheme-slide">
    <div class="swiper-wrapper id-maintheme-slide-wrapper">
      {% for item in seasons %}
      <a href="/painting/{{item.painting.pk}}" class="swiper-slide id-maintheme-slide-item">
        <img class="id-maintheme-slide-img" src="{{item.painting.thumbnail}}" />
        <div class="id-maintheme-desc">
          <div>
            <div>{{item.painting.title}}</div>
            <div>{{item.painting.author}}</div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
