<div class="container-section id-mainweek mt-5">
  <div class="id-mainweek-desc mb-4">
    <h3 class="m-3">금주의 작품</h3>
    <div>클로즈갤러리가 제안하는</div>
    <div>작품을 감상하고 렌탈해보세요</div>
  </div>
  <div class="container-section id-mainweek-cards mb-5">
    <div class="row">
      <div class="square col-6">
        {% comment %} 1~4 {% endcomment %}
        <div class="row">
          {% for item in weeklys %} {% if forloop.counter < 5 %}
          <div class="square id-mainweek-paint-box col-6">
            <img class="id-mainweek-card" src="{{item.painting.thumbnail}}" />
            <a href="/painting/{{item.painting.pk}}" class="content-desc id-mainweek-paint-desc">
              <div>
                <h5>{{item.painting.title}}</h5>
                <div>{{item.painting.author}}</div>
              </div>
            </a>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
      <div class="col-6">
        {% comment %} 5 {% endcomment %}
        <div class="row">
          {% for item in weeklys %} {% if forloop.counter == 5 %}
          <div class="square id-mainweek-paint-box col-12">
            <img class="id-mainweek-card" src="{{item.painting.thumbnail}}" />
            <a href="/painting/{{item.painting.pk}}" class="content-desc id-mainweek-paint-desc">
              <div>
                <h5>{{item.painting.title}}</h5>
                <div>{{item.painting.author}}</div>
              </div>
            </a>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>

    <div id="id-mainweek-extendcard" class="row">
      <div class="col-6">
        {% comment %} 6~12 {% endcomment %}
        <div class="row">
          {% for item in weeklys %} {% if forloop.counter > 5 %}{% if forloop.counter < 13 %} {% if forloop.counter == 8 %}
          <div class="square id-mainweek-paint-box col-12">
            <img class="id-mainweek-card" src="{{item.painting.thumbnail}}" />
            <a href="/painting/{{item.painting.pk}}" class="content-desc id-mainweek-paint-desc">
              <div>
                <h5>{{item.painting.title}}</h5>
                <div>{{item.painting.author}}</div>
              </div>
            </a>
          </div>
          {% else %}
          <div class="square id-mainweek-paint-box col-6">
            <img class="id-mainweek-card" src="{{item.painting.thumbnail}}" />
            <a href="/painting/{{item.painting.pk}}" class="content-desc id-mainweek-paint-desc">
              <div>
                <h5>{{item.painting.title}}</h5>
                <div>{{item.painting.author}}</div>
              </div>
            </a>
          </div>
          {% endif %} {% endif %}{% endif %} {% endfor %}
        </div>
      </div>
      <div class="col-6">
        {% comment %} 13~19 {% endcomment %}
        <div class="row">
          {% for item in weeklys %} {% if forloop.counter > 12 %}{% if forloop.counter < 20 %} {% if forloop.counter == 17 %}
          <div class="square id-mainweek-paint-box col-12">
            <img class="id-mainweek-card" src="{{item.painting.thumbnail}}" />
            <a href="/painting/{{item.painting.pk}}" class="content-desc id-mainweek-paint-desc">
              <div>
                <h5>{{item.painting.title}}</h5>
                <div>{{item.painting.author}}</div>
              </div>
            </a>
          </div>
          {% else %}
          <div class="square id-mainweek-paint-box col-6">
            <img class="id-mainweek-card" src="{{item.painting.thumbnail}}" />
            <a href="/painting/{{item.painting.pk}}" class="content-desc id-mainweek-paint-desc">
              <div>
                <h5>{{item.painting.title}}</h5>
                <div>{{item.painting.author}}</div>
              </div>
            </a>
          </div>
          {% endif %} {% endif %}{% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div>
    <button id="id-mainweek-btn" class="id-mainweek-btn">+ 더보기</button>
  </div>
</div>
