<footer class="base-footer">
  <div class="container">
    <div class="base-footer-title mt-4">
      <div class="base-footer-title-left">
        <div>회사소개</div>
        <div>제휴문의</div>
        <div>작가공모 지원</div>
      </div>
      <div class="base-footer-title-right">
        <div>대표번호 0000-0000</div>
        <p>평일 9:00 - 18:00</p>
      </div>
    </div>
    <div class="base-footer-desc">
      <div>상호명 : ooooo : ooo I 사업자등록번호 : 000-99999-11111 I호스팅 제공자 : 없음</div>
      <div>본 사이트는 학습용으로 제작된 사이트입니다. 문제 발생시 아래 이메일로 연락주시면 바로 조치하겠습니다.</div>
      <div>E-mail: mini4614@gmail.com I © morethanmin</div>
    </div>
  </div>
</footer>
