<header id="base-header" class="base-header">
  <div class="container base-menu">
    <div class="base-left">
      <a href="/">
        <img class="base-left-header" src="https://user-images.githubusercontent.com/72514247/128347274-1b715220-5c6c-4452-a866-b1ef9e2b4e40.png" alt="오픈갤러리" />
      </a>
      <nav id="base-nav" class="base-nav">
        <div><a href="/painting"> 작품보기 </a></div>
        <div class="base-menu-item">
          <div>이용후기</div>
          <ul class="base-submenu-content">
            <li><a href="/review/user">개인 고객</a></li>
            <li><a href="/review/celebrity">셀럽 인터뷰</a></li>
          </ul>
        </div>
        <div class="base-menu-item">
          <div>작가</div>
          <ul class="base-submenu-content">
            <li><a href="">작가 소개</a></li>
          </ul>
        </div>
        <div class="base-menu-item">
          <div>아트매거진</div>
          <ul class="base-submenu-content">
            <li><a href="">전시 정보</a></li>
            <li><a href="">미술 이야기</a></li>
            <li><a href="">아트 딕셔너리</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="base-right">
      {% if user.is_authenticated %}
      <div>
        <a href="/signout"> 로그아웃 </a>
      </div>
      {% else %}
      <div>
        <a href="/login"> 로그인 </a>
      </div>
      <div>
        <a href="/signup"> 회원가입 </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div id="base-submenu" class="base-submenu"></div>
</header>
