/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* initialize */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: black !important;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black !important;
  font-weight: 400;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

/* common */

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container-section {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.container-content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.square {
  position: relative;
}
.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.square > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-desc {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute !important;
  top: 0px;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  cursor: pointer;
}
.content-desc:hover {
  color: white !important;
}
.content-desc > div > div {
  font-weight: 300;
}

.content-desc > div > * {
  text-align: center;
}
.content-desc:hover {
  opacity: 1;
}

/* layout */

body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  height: 100vh;
}

.base-header {
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%), 0 1px 8px rgb(0 0 0 / 3%);
  position: relative;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 52;
}
.base-menu {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.base-submenu {
  position: absolute;
  border-top: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  width: 100vw;
  bottom: 1;
  z-index: 50;
  height: 170px;
}

.base-left {
  display: flex;
  align-items: center;
}

.base-left img {
  padding-right: 21px;
}

.base-nav {
  display: flex;
  cursor: default;
}

.base-nav > div {
  padding: 21px;
  font-weight: 300;
  font-size: 1rem;
}

.base-submenu-content {
  position: absolute;
  top: 0;
  transform: translate(0%, 80px);
  list-style: none;
  padding-left: 0px;
  font-size: 0.8rem;
  z-index: 51;
}

.base-submenu-content li {
  margin-bottom: 10px;
}
.base-menu-item {
  position: relative;
}

.base-right {
  display: flex;
  font-weight: 300;
}

.base-right > div {
  margin-left: 10px;
}

.base-footer {
  background-color: #222222;
  height: 150px;
  color: white;
}

.base-footer-title {
  display: flex;
  justify-content: space-between;
}

.base-footer-title-left,
.base-footer-title-right {
  display: flex;
}

.base-footer-title-left > div {
  margin-right: 20px;
  font-size: 0.9rem;
}
.base-footer-title-right > div {
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: 200;
}
.base-footer-title-right > p {
  margin-right: 20px;
  font-size: 0.9rem;
  font-weight: 200;
}

.base-footer-desc > div {
  font-size: 0.8rem;
  color: #989898;
}

.base-main {
  padding-top: 60px;
}
