<div class="id-mainservice">
  <div class="container-section id-mainservice-content">
    <h2>그림렌탈 서비스</h2>
    <p>
      작가들의 하나뿐인 원화 작품을 합리적인 가격에 대여하고,<br />
      3개월마다 교체할 수 있는 그림 렌탈 서비스를 이용해보세요.
    </p>
    <div class="id-mainservice-boxcontainer mt-5">
      <div class="id-mainservice-box">
        <div class="id-mainservice-inbox">
          <img class="id-mainservice-arrowimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcBAMAAACaHyIpAAAAD1BMVEUAAACenp6bm5ucnJybm5vE7I48AAAABHRSTlMAFdRq4U2PXAAAACZJREFUCNdjQABDKM3sJABhMKooQoWEaCQEZ8ClqCuA8A7CgwgAAA3kCD2TKTixAAAAAElFTkSuQmCC" />
          <div class="id-mainservice-img1"></div>
        </div>
        <h6 class="id-mainservice-title">그림렌탈</h6>
        <div class="id-mainservice-desc">
          작품추천, 출장, 설치까지 <br />
          편리하게 이용해보세요.
        </div>
      </div>
      <div class="id-mainservice-box">
        <div class="id-mainservice-inbox">
          <img class="id-mainservice-arrowimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcBAMAAACaHyIpAAAAD1BMVEUAAACenp6bm5ucnJybm5vE7I48AAAABHRSTlMAFdRq4U2PXAAAACZJREFUCNdjQABDKM3sJABhMKooQoWEaCQEZ8ClqCuA8A7CgwgAAA3kCD2TKTixAAAAAElFTkSuQmCC" />
          <div class="id-mainservice-img3"></div>
        </div>
        <h6 class="id-mainservice-title">렌탈요금</h6>
        <div class="id-mainservice-desc">
          월 3만원 대의 합리적인 가격으로 <br />
          작품을 만나보세요.
        </div>
      </div>
      <div class="id-mainservice-box">
        <div class="id-mainservice-inbox">
          <img class="id-mainservice-arrowimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcBAMAAACaHyIpAAAAD1BMVEUAAACenp6bm5ucnJybm5vE7I48AAAABHRSTlMAFdRq4U2PXAAAACZJREFUCNdjQABDKM3sJABhMKooQoWEaCQEZ8ClqCuA8A7CgwgAAA3kCD2TKTixAAAAAElFTkSuQmCC" />
          <div class="id-mainservice-img2"></div>
        </div>
        <h6 class="id-mainservice-title">서비스 문의</h6>
        <div class="id-mainservice-desc">
          서비스 관련 궁금한 사항을 <br />
          상담원에게 물어보세요.
        </div>
      </div>
    </div>
  </div>
</div>
