<div class="id-maintheme">
  <div class="container-section mt-5">
    <div class="id-maintheme-tags">
      <div class="id-maintheme-tag">여름</div>
      <div class="id-maintheme-subtag">#뙤약볕 #잠비 #파랑</div>
    </div>
    <div class="id-maintheme-header">
      <h4>한낮에 움직이는 고요</h4>
      <div class="id-maintheme-tools">
        <div class="id-maintheme-pagination"></div>
        <button class="id-maintheme-button-prev"><</button>
        <button class="id-maintheme-button-next">></button>
      </div>
    </div>
  </div>
  <div class="swiper-container id-maintheme-slide">
    <div class="swiper-wrapper id-maintheme-slide-wrapper">
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/7RQf2X6aXXI/download?force=true&w=1920" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/p3F-1M6du6U/download?force=true&w=1920" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/7XAM0J3dNQM/download?force=true&w=1920" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/iSwzfjgD3uU/download?force=true&w=1920" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/_MdUz-1Ofsg/download?force=true&w=1920" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/Xh6BpT-1tXo/download?force=true&w=1920" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/jcLcWL8D7AQ/download?force=true&w=1920" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/C9XgrB8hqBI/download?force=true" />
      </div>
      <div class="swiper-slide">
        <img class="id-maintheme-slide-img" src="https://unsplash.com/photos/55MySYrKf5w/download?force=true&w=1920" />
      </div>
    </div>
  </div>
</div>
