<div class="container-section id-mainweek mt-5">
  <div class="id-mainweek-desc mb-4">
    <h3 class="m-3">금주의 작품</h3>
    <div>오픈갤러리가 제안하는</div>
    <div>작품을 감상하고 렌탈해보세요</div>
  </div>
  <div class="container-section id-mainweek-cards mb-5">
    <div class="row">
      <div class="square col-6">
        <div class="row">
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/woMD-vhzOHI/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/uNQojVg3BO0/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/5TK1F5VfdIk/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/t2Sai-AqIpI/download?force=true&w=1920" /></div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="square col-12"><img class="id-mainweek-card" src="https://unsplash.com/photos/5MTf9XyVVgM/download?force=true&w=1920" /></div>
        </div>
      </div>
    </div>

    <div id="id-mainweek-extendcard" class="row">
      <div class="col-6">
        <div class="row">
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-12"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-12"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
          <div class="square col-6"><img class="id-mainweek-card" src="https://unsplash.com/photos/6RuNmpIio4U/download?force=true&w=1920" /></div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button id="id-mainweek-btn" class="id-mainweek-btn">+ 더보기</button>
  </div>
</div>
