
{% extends 'base/index.html' %}{% load static %} {% block meta_title %} {{ block.super }}{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<div class="lg-container">
  <form class="lg-form" method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <h3>회원가입</h3>
    <input type="email" placeholder="이메일" required></input>
    <input type="password" placeholder="비밀번호" required></input>
    <button>회원가입</button>
  </form>
</div>
{% endblock %}
